.error {
  font-size: .8rem;
  color: red;
}

.data {
  display: grid;
  grid-gap: .5rem;
}

.sun {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  justify-content: start;
}

.wrapLabel {
  margin: 1rem 0;
}

.label {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  justify-content: start;
  align-items: center;
}

.hline {
  display: none;
}

.unit {
  margin: .5rem 0;
  display: grid;
  grid-gap: .3rem;
}

@media all and (max-width: 380px) {
  .label {
    grid-template-columns: auto;
  }
  .hline {
    display: block;
  }
  .sun {
    margin: .5rem 0;
  }
}
