a {
  cursor: pointer;
  transition: text-shadow .5s;
}

a:hover {
  text-shadow: 1px 1px 2px #b53b88;
}

.root {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 2rem;
  padding: 1rem 0;
  justify-items: end;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: .1rem solid black;
}

.auth {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  align-items: center;
  > span {
    font-size: 1rem;
  }
}

@media all and (max-width: 560px) {
  .root {
    grid-gap: 1rem;
    .name {
      display: none;
    }
    .auth {
      grid-template-columns: auto;
    }
  }
}
