.close {
  position: relative;
  height: 1.4rem;
  width: 1.4rem;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 100%;
  width: 2px;
  background-color: black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
