.root {
  display: grid;
  align-content: center;
  justify-content: center;
}

.head {
  display: grid;
  grid-gap: 1rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: .2rem;
  padding: 1rem;
  min-width: 500px;
}

.label {
  display: grid;
  grid-gap: .1rem;
  font-weight: bold;
}

.label input {
  border: 1px solid #6e856e;
  border-radius: .2rem;
  padding: .2rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-self: start;
}

.error {
  color: red;
  font-weight: normal;
}

@media all and (min-width: 560px) {
  .head {
    min-width: 300px;
  }
}
