.root {
  margin: 1rem 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.note {
  padding: .3rem;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
}

.close {
  cursor: pointer;
}

.head {
  display: grid;
  align-items: center;
  justify-content: start;
}

.error {
  color: red;
}

.noteHead {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: start;
}
