.root {
  margin: 1rem 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
  align-items: center;
}

.head {
  display: grid;
  align-items: center;
  justify-content: start;
}

.error {
  color: red;
}

.noteHead {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: start;
}
